body {
    background-image: url("../images/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#container {
    color: white;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.0);
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 50px;
}

.crystals {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 60px;
}

.crystal {
    height: 150px;
    width: 150px;
    margin-left: 30px;
    cursor: pointer;
}

.crystal:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

#numToguess,
#counter,
.win,
.loss {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}